:root {
    --text-color: rgb(13, 13, 13);
    --link-color: rgb(47, 77, 47);
    --link-hover: rgb(224, 150, 38);
    --light-gray: rgb(198, 198, 198);
    --medium-gray: rgb(100, 100, 100);
    --shadow: 0 .1em .5em rgba(0,0,0,0.2);
    --header-font: "Helvetica Neue", sans-serif;
}

html, body {
    width: 100vw;
}

html, body, div, form, fieldset, h1, h2, h3, h4, h5, h6, hr, input, nav, li, ol, ul, span, table, tr, td, th, p, img {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    line-height: 1.5em;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

h2, h3 {
    padding-bottom: 1rem;
}

form {
    padding-bottom: 2em;
}

input, select {
    padding: 0 0.5em;
    font-size: 0.8rem;
    box-sizing: border-box ;
}

input[type="submit"] {
    border: 1px solid var(--light-gray);
    border-radius: 1em;
    width: 6em;
    height: 2em;
    background-color: #fff;
    font-family: var(--header-font); 
    margin-left: 1em;
}
input[type="submit"]:hover {
    background-color: var(--link-hover);
    cursor: pointer;
}

/* Thanks to Henrik: https://stackoverflow.com/questions/1895476/how-do-i-style-a-select-dropdown-with-only-css */
select {
    -webkit-appearance: none;
    appearance: none;
    border: 0.5px solid var(--light-gray);
    background-image: linear-gradient(var(--link-color), var(--link-color)),
        linear-gradient(-135deg, transparent 50%, var(--light-gray) 50%),
        linear-gradient(-225deg, transparent 50%, var(--light-gray) 50%),
        linear-gradient(var(--light-gray) 42%, var(--link-color) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
    height: 2.1em;
}

li {
    list-style: none;
    padding: 0.2em 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: all 0.2s ease-out;
    font-size: 1.1em;
}

a:hover {
    color: var(--link-hover);
}

/* || LAYOUT */

nav {
    display: flex;
    align-items: end; /* to compensate the height to reach the dropdown */
    min-width: 100vw;
    position: fixed;
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 0.6em 0;
}

#nav-left {
    flex-grow: 1; /* to get the other two children of <nav> to the right */
    padding-left: 1em;
}

h1 {
    display: inline-block; /* to get both lines together */
    font-size: 2rem;
    line-height: 1em;
}

h1 p {
    font-size: 0.9rem;
    color: var(--text-color);
    text-align: right;
}

#nav-right {
    padding-right: 2em;
}

#nav-right > a {
    padding-right: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;  /* links in one line */
    white-space: nowrap; /* links in one line */
    margin-top: 0.5em;  /* to separate the dropdown */
    padding: 0.8em 1em;
    right: 0;
    box-shadow: var(--shadow);
}

.dropdown-content a {
    color: var(--light-gray);
    padding: 0 0.5em;
}

.dropdown-content a:hover {
    color: var(--link-hover);
}

.dropdown:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s linear;
    border-radius: .2em;
}

nav a {
    margin-left: 1em;  
}

main {
    padding-top: 8rem; /* cause the fixed nav */
    min-width: 40vw;
}

#footer {
    width: 100vw;
    background: var(--text-color);
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

#footer div {
    color: var(--light-gray);
    font-family: var(--header-font);
    font-size: 0.8rem;
    margin: 1em;
}

/* || PAGES  */
.content {
    padding: 0 1em;
}

.horizontal-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

img {
    max-width: 40vw;
    max-height: 25vh;
    margin-left: 1em;
}

.list {
    max-height: 25vh;
    border-bottom: 0.5px solid var(--text-color);
    padding: 1em 0;
}

.li-title {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 1em;
}

.bullet {
    list-style: inside;
}

.item h3,
.portfolio h3 {
    padding-top: 1.5em;
    color: var(--medium-gray)
}

.item p {
    padding-bottom: 2em;
}

.messages {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 0.1em 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    font-size: 0.9rem;
}

.item [type="text"],
.item [type="number"] {
    flex-grow: 1;
    margin: 0 1em;
}

/* Thanks to Rik Schennink: https://codepen.io/rikschennink/pen/mjywQb */
.bubble {
	/* layout */
	position: relative;
	max-width: 20em;

	/* looks */
	padding: 0.8em 1.5em;
    margin: 2em 0 0.3em 0;
	font-size: 1.1em;
	border-radius: 2rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}
.bubble::before {
	/* layout */
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	border: .65rem solid transparent;
	border-top: none;
}
.posted-you {
    text-align: right;
    left: 100%;
    transform: translateX(-100%);
    background-color: var(--text-color);
    color: var(--light-gray);
}
.posted-you::before {
    border-bottom-color: var(--text-color);
    right: 2em; /* offset should move with padding of parent */
}
.posted-other {
    background-color: var(--light-gray);
}
.posted-other::before {
    border-bottom-color: var(--light-gray);
    left: 2em; /* offset should move with padding of parent */
}
.comments small {
    padding-left: 1.5em;
}

.vertical-form, 
.portfolio {
    display: flex;
    flex-direction: column;
}

.vertical-form div, 
.portfolio li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vertical-form div {
    margin-bottom: 1em;
}

.vertical-form div input,
.vertical-form div select {
    min-width: 40vw;
    margin-left: 2em;
}

.vertical-form input[type="submit"] {
    align-self: flex-end;
    margin-top: 2em;
}


/* @media(min-width: 1300px) {
    .horizontal-flex, .vertical-form {
        width: 50vw;
    }
} */
@media(max-width: 700px) {
    nav, main, #footer {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.7rem;
    }
    .horizontal-flex ul li a {
        font-size: 1.2rem;
    }
    h2, ul {
        padding-left: 1rem;
    }
    #nav-right, #nav-left {
        padding: 0 .4rem;
    }
    .horizontal-flex form input {
        width: 6em;
        margin: 0.3em;
    }

}
@media(max-width: 400px) {
    nav, #footer div {
        font-size: 0.7rem;
    }
    main {
        padding-top: 5rem;
        font-size: 0.8rem;
    }
    h1 {
        font-size: 1.4em;
    }
    .horizontal-flex ul li a {
        font-size: 1em;
    }
    h2 {
        padding-left: 1em;
    }
    #nav-right, #nav-left {
        padding: 0 .4em;
    }
    .screen {
        display: none;
    }
}
