{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ item.title }}</h2>

{% block status %}
<div class="content item">
	<div class="horizontal-flex">

		<div class="vertical-flex">
			<!-- Close the auction -->
			{% if item.user == user %}

			<h3>Ready to sell?</h3>
			<div class="horizontal-flex">
				<p>Current price: ${{ item.current_price }}</p>
				<form method="post">
					{% csrf_token %}
					<input type="submit" name="action" value="Close">
				</form>
			</div>

			<!-- OR watch the auction -->
			{% else %}
			<h3>Interested?</h3>
			<div class="horizontal-flex">
				<p>Current price: ${{ item.current_price }}
					{% if bid.user == user %} (your bid) {% endif %}
				</p>
				<form method="post">
					{% csrf_token %}
					{% if watching %}
					<input type="submit" name="action" value="Unwatch">
					{% else %}
					<input type="submit" name="action" value="Watch">
					{% endif %}
				</form>
			</div>

			<!-- AND bid after validation -->
			{% if messages %}
			<div class="messages">
				{% for message in messages %}
				<div class="alert" role="alert">{{ message }}</div>
				{% endfor %}
			</div>
			{% endif %}

			<form method="post">
				{% csrf_token %}
				{{ form_bid }}
				<input type="submit" name="action" value="Bid">
			</form>
			{% endif %}
		</div>
		<img src="{{ item.image_url }}" class="screen">
	</div>

	<div>
		<h3>More info</h3>
		<p>Listed by
			{% if item.user == user %}you{% else %}<strong>{{ item.user }}</strong>{% endif %}</p>
		<!-- List watchers -->
		<ul>
			Watched by
			{% for watcher in watchers %}
			<li class="bullet">{{ watcher }}</li>
			{% empty %}
			<li>be the first to watch this!</li>
			{% endfor %}
		</ul>
	</div>


	<div class="comments">
		<h3>Comments:</h3>
		<!-- Add comment -->
		<form method="post" class="horizontal-flex">
			{% csrf_token %}
			{{ form_comment }}
			<input type="submit" name="action" value="Comment">
		</form>
		{% endblock %}

		<!-- Display comments -->
		<ul>
			{% for comment in comments %}
			<li class="{% if comment.user == user %}posted-you{% else %}posted-other{% endif %} bubble">
				{{ comment.comment }}</li>
			<li><small>{% if comment.user != user %}posted by {{ comment.user }}{% endif %}</small></li>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}